.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
}

header {
  display: flex;
  flex-direction: row;
}

nav {
  width: 22vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-icon-container {
  display: flex;
  flex-direction: row;
}

.nav-icon {
  width: 18vw;
  margin-right: 4vw;
}

.nav-headline {
  align-self: center;  
}

.nav-items {
  align-self: center;
}

.home-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container form {
  width: 30vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  text-align: center;
}

.delete-user {
  margin: auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-user form {
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
